*{
    font-family: tahoma, arial, sans-serif;
}


form{
    width: 250px;
    margin: auto;
    margin-top: 50px;
    color: rgb(118, 118, 118);
}
fieldset{
    padding: 20px;
    border-radius: 8px;
    border-color: rgb(118, 118, 118);
    
}

fieldset legend{
    font-size: 20px;
    padding: 5px 10px;
    border: 1px inset rgb(118, 118, 118);
    border-radius: 8px;
    color: black;
}

#email, #password, #logar{
    display: block;
    width: 100%;
    box-sizing: border-box; 
    border-radius: 8px;
    padding: 5px;
    border-color: rgb(118, 118, 118);
}

#email, #password{
    margin-bottom: 20px;
}

#logar{
    padding: 5px;
    color: black;
}