fieldset{
    width: 200px;
    padding: 10px;
    margin: auto;
}

label{
    display: block;
    margin-top: 10px;
    
}
label input{
    display: block;
    width: 100%;
    box-sizing: border-box;
}
label select{
    display: block;
    width: 100%;
}

input#submit{
    margin-top: 10px;
    width: 100%;
}